command script import /usr/local/opt/chisel/libexec/fblldb.py

command script import ~/CocoaApps/lldbPythonScripts/stripQuotes.py
command script import ~/CocoaApps/lldbPythonScripts/jq.py

type summary add --summary-string "${var._identifier}" UIStoryboardSegue
type summary add --summary-string "(Section: ${var._indexes.pair.0} Row:
${var._indexes.pair.1})" IndexPath 

